*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    font-family: Arial, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
}
.col-33{
    width: calc(100% /3);
}
.img-full{
    max-width: 150px;
}
.align-center{
    align-items: center;
}
header{
    background-color: orange;
    padding: 15px 0px;
    position: fixed;
    width: 100%;
}
#menu{
    display: flex;
    list-style: none;
}
#menu li{
    padding: 0 10px;
}
#menu li a{
    text-decoration: none;
    color: white;
}
.img-container{
    text-align: center;
}
.icons{
    text-align: right;
    color: white;
    padding-right: 15px;
}